<header class="header-area p-relative">

    <div class="top-header top-header-style-four">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8">
                    <ul class="top-header-contact-info">
                        <li>
                            Appelez nous: 
                            <a href="tel:+216 95 777 154">+216 95 777 154</a>
                        </li>
                    </ul>

                    <div class="top-header-social">
                        <span>Suivez nous:</span>
                        <a href="https://www.facebook.com/ibcom.agency/" target="_blank"><i class='bx bxl-facebook'></i></a>
                        
                        <a href="https://www.linkedin.com/company/ibcomprod/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="https://www.instagram.com/ibcom.agency/?hl=fr" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="https://www.youtube.com/channel/UCACJPhuXfwx6FmLxoJCDXMg" target="_blank"><i class='bx bxl-youtube'></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <ul class="top-header-login-register">
                        <li><a routerLink="/login"><i class='bx bx-log-in'></i> Login</a></li>
                        <li><a routerLink="/register"><i class='bx bx-log-in-circle'></i> Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar-area navbar-style-three">
        <div class="ednuv-responsive-nav">
            <div class="container">
                <div class="ednuv-responsive-menu">
                    <div class="logo">
                        <a routerLink="/">
                            <img src="assets/img/ibcomagencedecomtunisie1.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ednuv-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" routerLink="/">
                        <img src="assets/img/ibcomagencedecomtunisie1.png" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="/" class="nav-link">Acceuil </a>
                               
                            </li>

                            <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Nos services <i class='bx bx-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a routerLink="/instructor-2" class="nav-link">RELATIONS PRESSE ET PUBLIQUES </a>
                                        
                                    </li>

                                    <li class="nav-item"><a routerLink="/instructor-1" class="nav-link">Production Audiovisuelle </a>
                                       
                                    </li>

                                    <li class="nav-item"><a routerLink="/gallery" class="nav-link">Marketing Digital</a></li>

                                    <li class="nav-item"><a routerLink="/events" class="nav-link">ÉVÉNEMENTIEL </a>
                                        
                                    </li>

                                    <li class="nav-item"><a routerLink="/pricing" class="nav-link">Développement Web</a></li>

                                    

                                    <li class="nav-item"><a routerLink="/partner" class="nav-link">DESIGN GRAPHIQUE</a></li>

                                    
                                </ul>
                            </li>

                            <li class="nav-item"><a  routerLink="/courses-category-style-1" class="nav-link" >Nos clients </a>
                               
                            </li>

                            <li class="nav-item"><a routerLink="/blog-style-1" class="nav-link">Blog </a>
                                
                            </li>

                            

                            <li class="nav-item"><a routerLink="/contact" class="nav-link" >Contact</a></li>
                        </ul>

                        <div class="others-option">
                            

                            <div class="search-box d-inline-block">
                                <i class='bx bx-search'></i>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    
</header>

<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            
            <div class="search-overlay-close">
                <span class="search-overlay-close-line"></span>
                <span class="search-overlay-close-line"></span>
            </div>

            <div class="search-overlay-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="submit"><i class='bx bx-search-alt'></i></button>
                </form>
            </div>
        </div>
    </div>
</div>