<app-header-style-two></app-header-style-two>

<div class="page-title-area item-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Acceuil</a></li>
                <li>Nos clients</li>
            </ul>
            <h2>Nos clients</h2>
        </div>
    </div>
</div>

<section class="gallery-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/ATB ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/ATB ibcomagencedecomtunisie.png">
                </div>
            </div>

            
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/ADF ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/ADF ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/BIAT ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/BIAT ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/IMSET ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/IMSET ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/MG ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/MG ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/TE ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/TE ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/AMINE ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/AMINE ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/ATI ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/ATI ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/BELLINI ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/BELLINI ibcomagencedecomtunisie.png">
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/ACRPS ibcomagencedecomtunisie.webp" alt="Gallery Image" data-original="assets/img/categories/ACRPS ibcomagencedecomtunisie.webp">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/EBS ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/EBS ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/ABC ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/ABC ibcomagencedecomtunisie.png">
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/AFRINIC ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/AFRINIC ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/ALIANCE ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/ALIANCE ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/CNIP ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/CNIP ibcomagencedecomtunisie.png">
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/HLI ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/HLI ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/EK ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/EK ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/HONORIS ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/HONORIS ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/JOMAA ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/JOMAA ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/LEONI ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/LEONI ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/NA ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/NA ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/OOREDOO ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/OOREDOO ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/PALACE ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/PALACE ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/PETROFAC ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/PETROFAC ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/PEUGEOT ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/PEUGEOT ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/PN ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/PN ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/QNB ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/QNB ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/ST ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/ST ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/SWI ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/SWI ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/TSS ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/TSS ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/TTS H ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/TTS H ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/UBIS ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/UBIS ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/UC ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/UC ibcomagencedecomtunisie.png">
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-gallery-item mb-30">
                    <img src="assets/img/categories/UTICA ibcomagencedecomtunisie.png" alt="Gallery Image" data-original="assets/img/categories/UTICA ibcomagencedecomtunisie.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="courses-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-left">
            <span class="sub-title">Découvrez nos clients</span>
            
            <a routerLink="/blog-style-1" class="default-btn"><i class='bx bx-show-alt icon-arrow before'></i><span class="label">Voir Tout</span><i class="bx bx-show-alt icon-arrow after"></i></a>
        </div>

        <div class="shorting-menu">
            <button class="filter" data-filter="all">Tout (06)</button>
            <button class="filter" data-filter=".business">RELATIONS PRESSE ET PUBLIQUES (02)</button>
            <button class="filter" data-filter=".design">Production Audiovisuelle (05)</button>
            <button class="filter" data-filter=".development">Marketing Digital (04)</button>
            <button class="filter" data-filter=".language">ÉVÉNEMENTIEL (02)</button>
            <button class="filter" data-filter=".management">Développement Web (03)</button>
            <button class="filter" data-filter=".photography">DESIGN GRAPHIQUE (04)</button>
        </div>

        <div class="shorting">
            <div class="row">
                <div class="col-lg-4 col-md-6 mix business design language">
                    <div class="single-courses-box mb-30">
                        <div class="courses-image">
                            <a routerLink="/single-blog" class="d-block"><img src="assets/img/courses/courses1.jpg" alt="image"></a>

                            <div class="courses-tag">
                                <a routerLink="/" class="d-block">Business</a>
                            </div>
                        </div>

                        <div class="courses-content">
                            <div class="course-author d-flex align-items-center">
                                <img src="assets/img/user1.jpg" class="rounded-circle mr-2" alt="image">
                                <span>Steven Smith</span>
                            </div>

                            <h3><a routerLink="/single-courses" class="d-inline-block">Ednuv Professional IT Expert Certificate Course</a></h3>

                            
                        </div>

                       
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix design development management photography">
                    <div class="single-courses-box mb-30">
                        <div class="courses-image">
                            <a routerLink="/single-blog" class="d-block"><img src="assets/img/courses/courses2.jpg" alt="image"></a>

                            <div class="courses-tag">
                                <a routerLink="/" class="d-block">Design</a>
                            </div>
                        </div>

                        <div class="courses-content">
                            <div class="course-author d-flex align-items-center">
                                <img src="assets/img/user2.jpg" class="rounded-circle mr-2" alt="image">
                                <span>Sarah Taylor</span>
                            </div>

                            <h3><a routerLink="/single-courses" class="d-inline-block">Certified Graphic Design with Free Project Course</a></h3>

                           
                        </div>

                        
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix development business management">
                    <div class="single-courses-box mb-30">
                        <div class="courses-image">
                            <a routerLink="/single-blog" class="d-block"><img src="assets/img/courses/courses3.jpg" alt="image"></a>

                            <div class="courses-tag">
                                <a routerLink="/" class="d-block">Development</a>
                            </div>
                        </div>

                        <div class="courses-content">
                            <div class="course-author d-flex align-items-center">
                                <img src="assets/img/user3.jpg" class="rounded-circle mr-2" alt="image">
                                <span>James Anderson</span>
                            </div>

                            <h3><a routerLink="/single-courses" class="d-inline-block">Photography Crash Course for Photographer</a></h3>

                          
                            
                        </div>

                        
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix language design development photography">
                    <div class="single-courses-box mb-30">
                        <div class="courses-image">
                            <a routerLink="/single-blog" class="d-block"><img src="assets/img/courses/courses4.jpg" alt="image"></a>

                            <div class="courses-tag">
                                <a routerLink="/" class="d-block">Language</a>
                            </div>
                        </div>

                        <div class="courses-content">
                            <div class="course-author d-flex align-items-center">
                                <img src="assets/img/user4.jpg" class="rounded-circle mr-2" alt="image">
                                <span>Liam King</span>
                            </div>

                            <h3><a routerLink="/single-courses" class="d-inline-block">Web Design for Developing Technology with Joy</a></h3>

                            
                        </div>

                        
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix management design photography">
                    <div class="single-courses-box mb-30">
                        <div class="courses-image">
                            <a routerLink="/single-blog" class="d-block"><img src="assets/img/courses/courses5.jpg" alt="image"></a>

                            <div class="courses-tag">
                                <a routerLink="/" class="d-block">Management</a>
                            </div>
                        </div>

                        <div class="courses-content">
                            <div class="course-author d-flex align-items-center">
                                <img src="assets/img/user5.jpg" class="rounded-circle mr-2" alt="image">
                                <span>Lina D'Souza</span>
                            </div>

                            <h3><a routerLink="/single-courses" class="d-inline-block">Information About UI/UX Design Degree</a></h3>

                            
                        </div>

                        
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mix photography design development photography">
                    <div class="single-courses-box mb-30">
                        <div class="courses-image">
                            <a routerLink="/single-blog" class="d-block"><img src="assets/img/courses/courses6.jpg" alt="image"></a>

                            <div class="courses-tag">
                                <a routerLink="/" class="d-block">Photography</a>
                            </div>
                        </div>

                        <div class="courses-content">
                            <div class="course-author d-flex align-items-center">
                                <img src="assets/img/user6.jpg" class="rounded-circle mr-2" alt="image">
                                <span>David Warner</span>
                            </div>

                            <h3><a routerLink="/single-courses" class="d-inline-block">Photography Photo modify and Beautiful</a></h3>

                           
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>