<section class="gallery-area pt-100 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10 ">
                    <img src="assets/img/gallery/gallery1.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery1.jpg">
                </div>
            </div>

            
            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery2.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery2.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery3.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery3.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery4.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery4.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery5.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery5.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery6.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery6.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery7.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery7.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery8.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery8.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery8.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery8.jpg">
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery7.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery7.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery8.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery8.jpg">
                </div>
            </div>

            <div class="col-lg-3 col-md-2 col-sm-6">
                <div class="single-gallery-item mb-10">
                    <img src="assets/img/gallery/gallery8.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery8.jpg">
                </div>
            </div>
        </div>
    </div>
</section>