<div class="row">
    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bxs-group'></i>
            </div>
            <h3 class="odometer" data-count="50">50</h3>
            <p>CLIENTS</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bx-book-reader'></i>
            </div>
            <h3 class="odometer" data-count="+1000">1000</h3>
            <p>PROJETS</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bx-user-pin'></i>
            </div>
            <h3 class="odometer" data-count="8 ans">8 ans</h3>
            <p>D'EXPERTISE</p>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-6">
        <div class="single-funfact">
            <div class="icon">
                <i class='bx bxl-deviantart'></i>
            </div>
            <h3 class="odometer" data-count="340">340</h3>
            <p>ÉVÉNEMENTS</p>
        </div>
    </div>
</div>