<section class="register-area">
    <div class="row m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="register-image">
                <img src="../../../../assets/img/logo1ibcom.png" alt="image">
            </div>
        </div>

        <div class="col-lg-6 col-md-12 p-0">
            <div class="register-content">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="register-form">
                           
                            <h3>IBCom Prod</h3>
                            <p>Already signed up? <a routerLink="/login">Log in</a></p>
                            <form>
                                <div class="form-group">
                                    <input type="nom" name="nom" id="nom" placeholder="Nom" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="prénom" name="prénom" id="prénom" placeholder="Prénom" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Nom de l'entreprise (optionel)" id="nom-entreprise" placeholder="Nom de l'entreprise (optionel)" class="form-control">
                                </div>
                                
                                    <div class="form-group">
                                        <select>
                                            <option>Tunisie</option>
                                            <option>Belgium</option>
                                            <option>Brazil</option>
                                            <option>France</option>
                                            <option>Hong Kong</option>
                                            <option>USA</option>
                                        </select>
                                    </div>
                               
                                <div class="form-group">
                                    <input type="text" name="adresse" id="adresse" placeholder="Adresse" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="ville" id="ville" placeholder="Ville" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="number" name="numéro" id="numéro" placeholder="Numéro de téléphone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" placeholder="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="mot-de-passe" id="mot-de-passe" placeholder="Mot de passe" class="form-control">
                                </div>
                                
                                
                                <button type="submit" routerLink="/login">Sign Up</button>
                                <div class="connect-with-social">
                                    <span>Or</span>
                                    <button type="submit" class="facebook"><i class='bx bxl-facebook'></i> Connect with Facebook</button>
                                    <button type="submit" class="twitter"><i class='bx bxl-twitter'></i> Connect with Twitter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>