<div class="feedback-slides owl-carousel owl-theme">
    <div class="single-feedback-item">
        <p>“ Une équipe dotée d'un grand professionalisme , IBcomProd apporte à ses différents collaborateurs une vision globale de la communication tout en étant innovants  et créatifs. ”</p>

        <div class="info">
            <h3>Imen KAABI</h3>
            <span>Directrice commerciale</span>
            <img src="assets/img/categories/NA ibcomagencedecomtunisie.png" class="shadow rounded-circle" alt="image">
        </div>
    </div>

    <div class="single-feedback-item">
        <p>“ Je tiens à vivement remercier l’équipe de votre agence car elle a su à chaque fois faire preuve de réactivité et d’un esprit artistique digne des plus grands. ”</p>

        <div class="info">
            <h3>Leila AMDOUNI </h3>
            <span>Stratégie de communication</span>
            <img src="assets/img/categories/QNB ibcomagencedecomtunisie.png" class="shadow rounded-circle" alt="image">
        </div>
    </div>

    <div class="single-feedback-item">
        <p>“ Votre agence de IBCOMPROD a fait de l’excellent travail, elle a su faire preuve d’un bon esprit d’équipe ! Je vous en suis très reconnaissante car vous êtes toujours disponible et à l’écoute. ”</p>

        <div class="info">
            <h3>Anissa Bouhejba</h3>
            <span>Directrice de la communication</span>
            <img src="assets/img/categories/ATB ibcomagencedecomtunisie.png" class="shadow rounded-circle" alt="image">
        </div>
    </div>
</div>